<mat-dialog-content class="custom-dialog-content">
    <h1 mat-dialog-title>Crear proyecto</h1>

    <div class="input-container">
        <mat-form-field class="input-field">
          <input matInput placeholder="IDProyecto" [(ngModel)]="data.ProjectId">
        </mat-form-field>
    
      <mat-form-field class="input-field">
        <input matInput placeholder="Nombre" [(ngModel)]="data.Name">
      </mat-form-field>
      
      <mat-form-field class="input-field">
        <input matInput placeholder="Descripción" [(ngModel)]="data.Description">
      </mat-form-field>
      <mat-form-field class="input-field">
        <input matInput placeholder="Fecha Inicio" [(ngModel)]="data.Start_Date">
      </mat-form-field>
      <mat-form-field class="input-field">
        <input matInput placeholder="Fecha Fin" [(ngModel)]="data.End_Date">
      </mat-form-field>
      <mat-form-field class="input-field">
        <input matInput placeholder="Estado" [(ngModel)]="data.StatusId">
      </mat-form-field>
      <mat-form-field class="input-field">
        <input matInput placeholder="ID Cliente" [(ngModel)]="data.ClientId">
      </mat-form-field>
   
    </div>
  </mat-dialog-content>
  
  <mat-dialog-actions class="custom-dialog-actions">
    
    <button mat-button (click)="onNoClick()" class="btn btn-primary">Cancelar</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial class="btn btn-success">Guardar cambios</button>
  </mat-dialog-actions>
  