<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.18.0/font/bootstrap-icons.css"
  integrity="sha384-GLhlTQ8iKt6iOpTJMLlGzNqibZiJxz5F3J1qIjK7pNEy"
  crossorigin="anonymous"
/>
<mat-dialog-content class="custom-dialog-content">
  <div class="container">
    <div class="row mt-3">
      <button mat-icon-button class="close-button" (click)="cerrarModal()">
        <mat-icon>close</mat-icon>
      </button>
      <div class="col">
        <form [formGroup]="editarUsuarioForm" (ngSubmit)="editar()" novalidate autocomplete="">
          <h3>Edición de Usuarios</h3>

          <div class="form-row">
            <!-- Nombre -->
            <div class="form-group col-md-4" style="width: auto">
              <label for="name" class="control-label font-weight-bold">Nombre</label>
              <input
                type="text"
                class="form-control"
                placeholder="Nombre"
                formControlName="name"
                [(ngModel)]="data.name"
                [ngClass]="{
                  'is-valid': (f.name.dirty || submitted) && !f.name.errors,
                  'is-invalid': (f.name.dirty || submitted) && f.name.errors
                }"
              />
              <div class="invalid-feedback">
                <span class="text-danger" *ngIf="f.name.errors?.required"
                  >El nombre es requerido</span
                >

            </div>
            </div>

            <!-- Primer apellido -->
            <div class="form-group col-md-4">
              <label for="lastname" class="control-label font-weight-bold">Primer Apellido</label>
              <input
                type="text"
                class="form-control"
                placeholder="Primer apellido"
                formControlName="lastname"
                [(ngModel)]="data.lastname"
                [ngClass]="{
                  'is-valid': (f.lastname.dirty || submitted) && !f.lastname.errors,
                  'is-invalid': (f.lastname.dirty || submitted) && f.lastname.errors
                }"
              />
              <div class="invalid-feedback">
                <span class="text-danger" *ngIf="f.lastname.errors?.required">El primer apellido es requerido</span>
            </div>
            </div>

            <!-- Segundo apellido -->
            <div class="form-group col-md-4">
              <label for="lastsecondname" class="control-label font-weight-bold"
                >Segundo Apellido</label
              >
              <input
                type="text"
                class="form-control"
                placeholder="Segundo apellido"
                formControlName="secondLastname"
                [(ngModel)]="data.secondLastname"
                [ngClass]="{
                  'is-valid': (f.secondLastname.dirty || submitted) && !f.secondLastname.errors,
                  'is-invalid': (f.secondLastname.dirty || submitted) && f.secondLastname.errors
                }"
              />
              <div class="invalid-feedback">
                <span class="text-danger" *ngIf="f.lastname.errors?.required">El segundo apellido es requerido</span>
            </div>
            </div>

      </div>

          <div class="form-row">
            <!-- Cédula -->
            <div class="form-group col-md-4">
              <label class="control-label font-weight-bold">Tipo de identificación</label>
              <select
                formControlName="identifierId"
                [(ngModel)]="data.identifierId"
                class="form-select"
                [ariaDisabled]="true"
                style="border-radius: 2px"
              >
                <option value=1>Cédula</option>
                <option value=2>Pasaporte</option>
                <option value=3>Cédula jurídica</option>
              </select>
            </div>

            <!-- Identificación -->
            <!-- <div
              class="form-group col-md-6"
              *ngIf="editarUsuarioForm.get('identifierId')?.value === '1'"
            > -->
            <div class="form-group col-md-4">
              <label for="identification" class="control-label font-weight-bold">{{identifierType}}</label>
              <input
                type="text"
                class="form-control"
                placeholder={{identifierType}}
                formControlName="identification"
                [(ngModel)]="data.identification"
                [ngClass]="{
                  'is-valid': (f.identification.dirty || submitted) && !f.identification.errors,
                  'is-invalid': (f.identification.dirty || submitted) && f.identification.errors
                }"
                (focusout)="checkIdentificationExists()"
                (ngModelChange) = "test($event)"
                maxlength="{{identifierLength}}"
                minlength="{{identifierLength}}"
              />
              <div class="invalid-feedback">
                <span class="text-danger" *ngIf="f.identification.errors?.required"
                  > {{identifierType}} es requerida</span
                >
                <span class="text-danger" *ngIf="f.identification.errors?.pattern"
                  > {{identifierType}} debe tener {{identifierLength}} dígitos y solo contener numeros</span
                >
                <span class="text-danger" *ngIf="f.identification.errors?.identificationExists"
                  >{{identifierType}} ya está registrada</span>
              </div>
            </div>
          </div>
            

            

          <div class="form-row">
            <!-- Rol -->
            <div class="form-group col-md-4">
              <label for="roleId" class="control-label font-weight-bold">Rol</label>
              <select
                formControlName="roleId"
                class="form-select"
                style="border-radius: 2px"
                [(ngModel)]="data.roleId"
              >
                <option value=1>Cliente</option>
                <option value=2>Empleado</option>
              </select>
            </div>

            <!-- Posición -->
            <div class="form-group col-md-4" *ngIf="editarUsuarioForm.get('roleId')?.value === '2'">
              <label for="position" class="control-label font-weight-bold">Posición</label>
              <input
              type="text"
              class="form-control"
              placeholder="Posición"
              formControlName="position"
              [(ngModel)]="data.position"
            />
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="email" class="control-label font-weight-bold">Correo</label>
              <input
                type="email"
                class="form-control"
                formControlName="email"
                placeholder="correo@gmail.com"
                [(ngModel)]="data.email"
                [ngClass]="{
                  'is-valid': (f.email.dirty || submitted) && !f.email.errors,
                  'is-invalid': (f.email.dirty || submitted) && f.email.errors
                }"
                (focusout)="checkEmailExists()"
              />
              <div class="invalid-feedback">
                <span class="text-danger" *ngIf="f.email.errors?.required"
                  >Es requerido el correo electrónico</span
                >
                <span class="text-danger" *ngIf="f.email.errors?.email"
                  >Correo electrónico inválido</span
                >
                <span class="text-danger" *ngIf="f.email.errors?.emailExists"
                  >Este correo electrónico ya está registrado</span
                >
              </div>
            </div>

            <div class="form-group col-md-4">
              <label for="phone" class="control-label font-weight-bold">Teléfono</label>
              <input
                type="text"
                class="form-control"
                formControlName="phone"
                placeholder="12345678"
                maxlength="8"
                minlength="8"
                [(ngModel)]="data.phone"
                [ngClass]="{
                  'is-valid': (f.phone.dirty || submitted) && !f.phone.errors,
                  'is-invalid': (f.phone.dirty || submitted) && f.phone.errors
                }"
              />

              <!-- <div *ngIf="crearUForm.get('phone')?.hasError('invalidPhoneNumber')">
            <small class="text-danger">Ingrese un número de teléfono válido (8 dígitos).</small>
          </div> -->
              <div class="invalid-feedback">
                <span class="text-danger" *ngIf="f.phone.errors?.required"
                  >El numero de teléfono es requerido</span
                >
                <span class="text-danger" *ngIf="f.phone.errors?.pattern"
                  >El número debe tener 8 dígitos y solo contener números</span
                >

                <!-- Validaciones existentes -->
                <!-- <span class="text-danger" *ngIf="f.identification.errors?.maxLengthValid">Debe ser de 9 caracteres</span>
            <div [ngClass]="{ 'text-sucess': minLengthValid, 'text-danger': !minLengthValid }">
              <i [attr.class]="minLengthValid ? 'bi-check-square-fill' : 'bi-x-square'"></i>
              Debe ser mínimo de 9 caracteres
            </div> -->
              </div>
            </div>
          </div>

          <mat-dialog-actions class="custom-dialog-actions">
            <button mat-button (click)="onNoClick()" class="btn btn-default">Cancelar</button>
            <button
              mat-button
              [disabled]="editarUsuarioForm.invalid"
              (click)="transformData()"
              [mat-dialog-close]="data"
              cdkFocusInitial
              class="btn btn-success"
            >
              Guardar
            </button>
          </mat-dialog-actions>
        </form>
      </div>
    </div>
  </div>
</mat-dialog-content>
