<mat-dialog-content class="custom-dialog-content">
  <div class="container">
    <div class="row mt-3">
      <div class="col">
        <form [formGroup]="editarUsuarioForm" (ngSubmit)="editar()" novalidate autocomplete="">
          <h3>Edición de Usuarios</h3>

          <div class="form-row">
            <!-- Nombre -->
            <div class="form-group col-md-6" style="width: auto">
              <label for="name" class="control-label font-weight-bold">Nombre</label>
              <input
                type="text"
                class="form-control"
                placeholder="Nombre"
                formControlName="name"
                [(ngModel)]="data.name"
              />
            </div>

            <!-- Primer apellido -->
            <div class="form-group col-md-6">
              <label for="lastname" class="control-label font-weight-bold">Primer Apellido</label>
              <input
                type="text"
                class="form-control"
                placeholder="Primer apellido"
                formControlName="lastname"
                [(ngModel)]="data.lastname"
              />
            </div>

            <!-- Segundo apellido -->
            <div class="form-group col-md-6">
              <label for="lastsecondname" class="control-label font-weight-bold"
                >Segundo Apellido</label
              >
              <input
                type="text"
                class="form-control"
                placeholder="Segundo apellido"
                formControlName="secondLastname"
                [(ngModel)]="data.secondLastname"
              />
            </div>
          </div>

          <div class="form-row">
            <!-- Cédula -->
            <div class="form-group col-md-6">
              <label class="control-label font-weight-bold">Tipo de identificación</label>
              <select
                formControlName="identifierId"
                [(ngModel)]="data.identifierId"
                class="form-select"
                style="border-radius: 2px"
              >
                <option value="1">Cédula</option>
                <option value="2">Pasaporte</option>
                <option value="3">Cédula jurídica</option>
              </select>
            </div>

            <!-- Identificación -->
            <div class="form-group col-md-6">
              <label for="identification" class="control-label font-weight-bold">Cédula</label>
              <input
                type="text"
                class="form-control"
                placeholder="Cédula"
                formControlName="identification"
                [(ngModel)]="data.identification"
                [ngClass]="{
                  'is-valid': (f.identification.dirty || submitted) && !f.identification.errors,
                  'is-invalid': (f.identification.dirty || submitted) && f.identification.errors
                }"
                (focusout)="checkCedulaExists()"
                maxlength="15"
                minlength="8"
              />
              <div class="invalid-feedback">
                <span class="text-danger" *ngIf="f.identification.errors?.required"
                  >La cédula es requerida</span
                >
                <span class="text-danger" *ngIf="f.identification.errors?.pattern"
                  >La cédula debe tener 10 dígitos</span
                >
                <span class="text-danger" *ngIf="f.identification.errors?.cedulaExists"
                  >Esta cédula ya está registrada</span
                >

                <!-- Validaciones existentes -->
                <span class="text-danger" *ngIf="f.identification.errors?.maxLengthValid"
                  >Debe ser de 8 a 15 caracteres</span
                >
                <div [ngClass]="{ 'text-sucess': minLengthValid, 'text-danger': !minLengthValid }">
                  <i [attr.class]="minLengthValid ? 'bi-check-square-fill' : 'bi-x-square'"></i>
                  Debe ser mínimo de 8 caracteres a 15 caracteres
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <!-- Rol -->
            <div class="form-group col-md-6">
              <label for="roleId" class="control-label font-weight-bold">Rol</label>
              <select
                formControlName="roleId"
                class="form-select"
                style="border-radius: 2px"
                [(ngModel)]="data.roleId"
              >
                <option value="1">Cliente</option>
                <option value="2">Empleado</option>
              </select>
            </div>

            <div class="form-group col-md-6" *ngIf="editarUsuarioForm.get('roleId')?.value === '2'">
              <label for="employeeId" class="control-label font-weight-bold">ID Empleado</label>
              <input
                type="text"
                class="form-control"
                placeholder="ID Empleado"
                formControlName="employeeId"
              />
            </div>
          </div>

          <div class="form-row" *ngIf="editarUsuarioForm.get('roleId')?.value === '2'">
            <!-- Posición -->
            <div class="form-group col-md-6" *ngIf="editarUsuarioForm.get('roleId')?.value === '2'">
              <label for="position" class="control-label font-weight-bold">Posición</label>
              <input
                type="text"
                class="form-control"
                placeholder="Posición"
                formControlName="position"
              />
            </div>

            <!-- Proyecto a asignar -->
            <div class="form-group col-md-6" *ngIf="editarUsuarioForm.get('roleId')?.value === '2'">
              <label for="assignedProject" class="control-label font-weight-bold"
                >Proyecto a asignar</label
              >
              <select
                formControlName="assignedProject"
                class="form-select"
                style="border-radius: 2px"
              >
                <option value="1">Santa Ana</option>
                <option value="2">Escazú</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="email" class="control-label font-weight-bold">Correo</label>
              <input
                type="email"
                class="form-control"
                formControlName="email"
                placeholder="correo@gmail.com"
                [(ngModel)]="data.email"
                [ngClass]="{
                  'is-valid': (f.email.dirty || submitted) && !f.email.errors,
                  'is-invalid': (f.email.dirty || submitted) && f.email.errors
                }"
                (focusout)="checkEmailExists()"
              />
              <div class="invalid-feedback">
                <span class="text-danger" *ngIf="f.email.errors?.required"
                  >Es requerido el correo electrónico</span
                >
                <span class="text-danger" *ngIf="f.email.errors?.email"
                  >Correo electrónico inválido</span
                >
                <span class="text-danger" *ngIf="f.email.errors?.emailExists"
                  >Este correo electrónico ya está registrado</span
                >
              </div>
            </div>

            <!-- Primer apellido -->
            <!-- <div class="form-group col-md-6">
          <label for="phone" class="control-label font-weight-bold">Teléfono</label>
          <input type="text" class="form-control" placeholder="Teléfono" formControlName="phone" [(ngModel)]="data.phone"/>
        </div> -->

            <div class="form-group col-md-6">
              <label for="phone" class="control-label font-weight-bold">Teléfono</label>
              <input
                type="text"
                class="form-control"
                formControlName="phone"
                placeholder="88882222"
                [maxlength]="8"
                [(ngModel)]="data.phone"
              />

              <div *ngIf="editarUsuarioForm.get('phone')?.hasError('invalidPhoneNumber')">
                <small class="text-danger">Ingrese un número de teléfono válido (8 dígitos).</small>
              </div>
            </div>
          </div>

          <div class="form-row">
            <!-- Contraseña -->
            <div class="form-group col-md-6">
              <label for="password" class="control-label font-weight-bold">Contraseña</label>
              <input
                type="password"
                formControlName="password"
                class="form-control"
                name="password"
                placeholder="Ingrese su contraseña"
                [(ngModel)]="data.password"
                readonly
              />
            </div>
          </div>

          <mat-dialog-actions class="custom-dialog-actions">
            <button mat-button (click)="onNoClick()" class="btn btn-danger">Cancelar</button>
            <button
              mat-button
              [disabled]="editarUsuarioForm.invalid"
              [mat-dialog-close]="data"
              cdkFocusInitial
              class="btn btn-success"
            >
              Guardar
            </button>
          </mat-dialog-actions>
        </form>
      </div>
    </div>
  </div>
</mat-dialog-content>
