  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.18.0/font/bootstrap-icons.css"
    integrity="sha384-GLhlTQ8iKt6iOpTJMLlGzNqibZiJxz5F3J1qIjK7pNEy"
    crossorigin="anonymous"
  />
  <mat-dialog-content class="custom-dialog-content">
    <div class="container">
      <div class="row mt-3">
        <button mat-icon-button class="close-button" (click)="cerrarModal()">
          <mat-icon>close</mat-icon>
        </button>
        <div class="col">
          <form [formGroup]="crearUForm" (ngSubmit)="crear()" novalidate autocomplete="">
            <h3>Creación de Usuarios</h3>

            <div class="form-row">
              <!-- Nombre -->
              <div class="form-group col-md-4" style="width: auto">
                <label for="name" class="control-label font-weight-bold">Nombre</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nombre"
                  formControlName="name"
                  [(ngModel)]="data.name"
                  [ngClass]="{
                    'is-valid': (f.name.dirty || submitted) && !f.name.errors,
                    'is-invalid': (f.name.dirty || submitted) && (f.name.errors?.required || f.name.errors?.pattern)
                  }"
                />
                <div class="invalid-feedback">
                  <span class="text-danger" *ngIf="f.name.errors?.required">El nombre es requerido</span>
                  <span class="text-danger" *ngIf="f.name.errors?.pattern">El nombre no debe contener números</span>
                </div>
              </div>

              <!-- Primer apellido -->
              <div class="form-group col-md-4">
                <label for="lastname" class="control-label font-weight-bold">Primer Apellido</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Primer apellido"
                  formControlName="lastname"
                  [(ngModel)]="data.lastname"
                  [ngClass]="{
                    'is-valid': (f.lastname.dirty || submitted) && !f.lastname.errors,
                    'is-invalid': (f.lastname.dirty || submitted) && (f.lastname.errors?.required || f.lastname.errors?.pattern)
                  }"
                />
                <div class="invalid-feedback">
                  <span class="text-danger" *ngIf="f.lastname.errors?.required">El primer apellido es requerido</span>
                  <span class="text-danger" *ngIf="f.lastname.errors?.pattern">El primer apellido no debe contener números</span>
                </div>
              </div>

              <!-- Segundo apellido -->
              <div class="form-group col-md-4">
                <label for="lastsecondname" class="control-label font-weight-bold"
                  >Segundo Apellido</label
                >
                <input
                  type="text"
                  class="form-control"
                  placeholder="Segundo apellido"
                  formControlName="secondLastname"
                  [(ngModel)]="data.secondLastname"
                  [ngClass]="{
                    'is-valid': (f.secondLastname.dirty || submitted) && !f.secondLastname.errors,
                    'is-invalid': (f.secondLastname.dirty || submitted) && (f.secondLastname.errors?.required || f.secondLastname.errors?.pattern)
                  }"
                />
                <div class="invalid-feedback">
                  <span class="text-danger" *ngIf="f.secondLastname.errors?.required">El segundo apellido es requerido</span>
                  <span class="text-danger" *ngIf="f.secondLastname.errors?.pattern">El segundo apellido no debe contener números</span>
                </div>
              </div>
            </div>

            <div class="form-row">
              <!-- Cédula -->
              <div class="form-group col-md-4">
                <label class="control-label font-weight-bold">Tipo de identificación</label>
                <select
                  formControlName="identifierId"
                  [(ngModel)]="data.identifierId"
                  class="form-select"
                  style="border-radius: 2px"
                >
                  <option value="1">Cédula</option>
                  <option value="2">Pasaporte</option>
                  <option value="3">Cédula jurídica</option>
                </select>
                <div *ngIf="crearUForm.get('identifierId')?.invalid && crearUForm.get('identifierId')?.touched" class="text-danger">
                  El tipo de cédula es requerido
                </div>
              </div>

              <!-- Identificación -->
              <div class="form-group col-md-6" *ngIf="crearUForm.get('identifierId')?.value === '1'">
                <label for="identification" class="control-label font-weight-bold">Cédula</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Cédula"
                  formControlName="identification"
                  [(ngModel)]="data.identification"
                  [ngClass]="{
                    'is-valid': (f.identification.dirty || submitted) && !f.identification.errors,
                    'is-invalid': (f.identification.dirty || submitted) && f.identification.errors
                  }"
                  (blur)="onCedulaBlur()"
                  maxlength="9"
                  minlength="9"
                />
                <div class="invalid-feedback">
                  <span class="text-danger" *ngIf="f.identification.errors?.required"
                    >La cédula es requerida</span
                  >
                  <span class="text-danger" *ngIf="f.identification.errors?.pattern"
                    >La cedula debe tener 9 dígitos y solo contener numeros</span
                  >
                  <span class="text-danger" *ngIf="f.identification.errors?.cedulaExists"
                    >Esta cédula ya está registrada</span
                  >
                </div>
    
              </div>

              <div class="form-group col-md-6" *ngIf="crearUForm.get('identifierId')?.value === '2'">
                <label for="identification" class="control-label font-weight-bold">Pasaporte</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Pasaporte"
                  formControlName="passport"
                  [(ngModel)]="data.identification"
                  [ngClass]="{
                    'is-valid': (f.passport.dirty || submitted) && !f.passport.errors,
                    'is-invalid': (f.passport.dirty || submitted) && f.passport.errors
                  }"
                  (blur)="onPassportBlur()"
                  maxlength="9"
                  minlength="9"
                />
                <div class="invalid-feedback">
                  <span class="text-danger" *ngIf="f.passport.errors?.required"
                    >El pasaporte es requerida</span
                  >
                  <span class="text-danger" *ngIf="f.passport.errors?.pattern"
                    >El pasaporte debe tener 9 dígitos y solo contener numeros</span
                  >
                  <span class="text-danger" *ngIf="f.passport.errors?.passportExists"
                    >Este pasaporte ya está registrado</span
                  >
                </div>
              </div>

              <div class="form-group col-md-6" *ngIf="crearUForm.get('identifierId')?.value === '3'">
                <label for="identification" class="control-label font-weight-bold"
                  >Cédula jurídica</label
                >
                <input
                  type="text"
                  class="form-control"
                  placeholder="Cédula jurídica"
                  formControlName="juridic"
                  [(ngModel)]="data.identification"
                  [ngClass]="{
                    'is-valid': (f.juridic.dirty || submitted) && !f.juridic.errors,
                    'is-invalid': (f.juridic.dirty || submitted) && f.juridic.errors
                  }"
                  (input)="checkJuridicExists()"
                  (blur)="onJuridicaBlur()"
                  maxlength="11"
                  minlength="11"
                />
                <div class="invalid-feedback">
                  <span class="text-danger" *ngIf="f.juridic.errors?.required"
                    >La cédula juridica es requerida</span
                  >
                  <span class="text-danger" *ngIf="f.juridic.errors?.pattern"
                    >La cedula juridica debe tener 11 dígitos y solo contener numeros</span
                  >
                  <span class="text-danger" *ngIf="f.juridic.errors?.juridicExists"
                    >Esta cedula juridica ya está registrada</span
                  >

                  <!-- Validaciones existentes -->

                  <div [ngClass]="{ 'text-sucess': minLengthValid, 'text-danger': !minLengthValid }">
                    <i [attr.class]="minLengthValid ? 'bi-check-square-fill' : 'bi-x-square'"></i>
                    Debe ser mínimo de 11 caracteres
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <!-- Rol -->
              <div class="form-group col-md-4">
                <label for="roleId" class="control-label font-weight-bold">Rol</label>
                <select
                  formControlName="roleId"
                  class="form-select"
                  style="border-radius: 2px"
                  [(ngModel)]="data.roleId"
                >
                  <option value=1>Empleado</option>
                  <option value=2>Cliente</option>
                </select>
                <div *ngIf="crearUForm.get('roleId')?.invalid && crearUForm.get('roleId')?.touched" class="text-danger">
                  El rol es requerido
                </div>
              </div>

              <!-- Posición -->
              <div class="form-group col-md-4" *ngIf="crearUForm.get('roleId')?.value === '1'">
                <label for="position" class="control-label font-weight-bold">Posición</label>
                <input
                type="text"
                class="form-control"
                placeholder="Posición"
                formControlName="position"
                [(ngModel)]="data.position"
              />

              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="email" class="control-label font-weight-bold">Correo</label>
                <input
                  type="email"
                  class="form-control"
                  formControlName="email"
                  placeholder="correo@gmail.com"
                  [ngClass]="{
                    'is-valid': (f.email.dirty || submitted) && !f.email.errors,
                    'is-invalid': (f.email.dirty || submitted) && f.email.errors
                  }"
                  (ngModelChange)="checkEmailExists()"
                  (blur)="onEmailBlur()"
                  formControlName="email"
                  [(ngModel)]="data.email"
                />
                <div class="invalid-feedback">
                  <span class="text-danger" *ngIf="f.email.errors?.required"
                    >Es requerido el correo electrónico</span
                  >
                  <span class="text-danger" *ngIf="f.email.errors?.email"
                    >Correo electrónico inválido</span
                  >
                  <span class="text-danger" *ngIf="f.email.errors?.emailExists"
                    >Este correo electrónico ya está registrado</span
                  >
                </div>

              </div>

              <!-- Primer apellido -->
              <!-- <div class="form-group col-md-6">
            <label for="phone" class="control-label font-weight-bold">Teléfono</label>
            <input type="text" class="form-control" placeholder="Teléfono" formControlName="phone" [(ngModel)]="data.phone"/>
          </div> -->

              <div class="form-group col-md-4">
                <label for="phone" class="control-label font-weight-bold">Teléfono</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="phone"
                  placeholder="12345678"
                  maxlength="8"
                  minlength="8"
                  [(ngModel)]="data.phone"
                  [ngClass]="{
                    'is-valid': (f.phone.dirty || submitted) && !f.phone.errors,
                    'is-invalid': (f.phone.dirty || submitted) && f.phone.errors
                  }"
                />

                <!-- <div *ngIf="crearUForm.get('phone')?.hasError('invalidPhoneNumber')">
              <small class="text-danger">Ingrese un número de teléfono válido (8 dígitos).</small>
            </div> -->
                <div class="invalid-feedback">
                  <span class="text-danger" *ngIf="f.phone.errors?.required"
                    >El numero de teléfono es requerido</span
                  >
                  <span class="text-danger" *ngIf="f.phone.errors?.pattern"
                    >El número debe tener 8 dígitos y solo contener números</span
                  >
                </div>
              </div>
            </div>

            <div class="form-row">
              <!-- Contraseña -->
              <div class="form-group col-md-6">
                <label for="password" class="control-label font-weight-bold">Contraseña</label>
                <div class="input-group">
                  <input
                    type="password"
                    formControlName="password"
                    class="form-control"
                    name="password"
                    placeholder="Ingrese su contraseña"
                    [(ngModel)]="data.password"
                    [ngClass]="{
                      'is-valid': (f.password.dirty || submitted) && passwordValid,
                      'is-invalid': (f.password.dirty || submitted) && !passwordValid
                    }"
                    #passwordInput
                  />
                  <span class="input-group-text" (click)="togglePasswordVisibility()">
                    <mat-icon *ngIf="showPassword">lock_open</mat-icon>
                    <mat-icon *ngIf="!showPassword">lock</mat-icon>
                  </span>
                  <div class="invalid-feedback">
                    <!-- required -->
                    <span
                      class="text-danger"
                      *ngIf="(f.password.dirty || submitted) && !requiredValid"
                      >La contraseña es requerida</span
                    >

                    <!-- password validation rules -->
                    <div id="validation-rules" class="mt-3" *ngIf="requiredValid">
                      <!-- minlength -->
                      <div
                        [ngClass]="{ 'text-success': minLengthValid, 'text-danger': !minLengthValid }"
                      >
                        <i [attr.class]="minLengthValid ? 'bi-check-square-fill' : 'bi-x-square'"></i>
                        Debe ser de mínimo 8 caracteres
                      </div>

                      <!-- requires digit -->
                      <div
                        [ngClass]="{
                          'text-success': requiresDigitValid,
                          'text-danger': !requiresDigitValid
                        }"
                      >
                        <i
                          [attr.class]="requiresDigitValid ? 'bi-check-square-fill' : 'bi-x-square'"
                        ></i>
                        Debe contener al menos 1 digito
                      </div>

                      <!-- requires uppercase -->
                      <div
                        [ngClass]="{
                          'text-success': requiresUppercaseValid,
                          'text-danger': !requiresUppercaseValid
                        }"
                      >
                        <i
                          [attr.class]="
                            requiresUppercaseValid ? 'bi-check-square-fill' : 'bi-x-square'
                          "
                        ></i>
                        Debe tener 1 caracter es mayúscula
                      </div>

                      <!-- requires lowercase -->
                      <div
                        [ngClass]="{
                          'text-success': requiresLowercaseValid,
                          'text-danger': !requiresLowercaseValid
                        }"
                      >
                        <i
                          [attr.class]="
                            requiresLowercaseValid ? 'bi-check-square-fill' : 'bi-x-square'
                          "
                        ></i>
                        Debe tener 1 caracter es minúscula
                      </div>

                      <!-- requires special characters -->
                      <div
                        [ngClass]="{
                          'text-success': requiresSpecialCharsValid,
                          'text-danger': !requiresSpecialCharsValid
                        }"
                      >
                        <i
                          [attr.class]="
                            requiresSpecialCharsValid ? 'bi-check-square-fill' : 'bi-x-square'
                          "
                        ></i>
                        Debe tener 1 caracter especial
                      </div>
                    </div>
                  </div>

                </div>

              </div>

              <!-- Confirmar contraseña -->
              <div class="form-group col-md-6">
                <label for="confirmPassword" class="control-label font-weight-bold"
                  >Confirmar contraseña</label
                >
                <div class="input-group">
                  <input
                    type="password"
                    formControlName="confirmPassword"
                    class="form-control"
                    name="confirmPassword"
                    placeholder="Ingrese nuevamente su contraseña"
                    [ngClass]="{
                      'is-valid': (submitted || f.confirmPassword.dirty) && !f.confirmPassword.errors,
                      'is-invalid': (submitted || f.confirmPassword.dirty) && f.confirmPassword.errors
                    }"
                    #confirmPasswordInput
                  />
                  <span class="input-group-text" (click)="toggleConfirmPasswordVisibility()">
                    <!-- {{ showPassword ? 'Ocultar' : 'Mostrar' }} -->
                    <mat-icon *ngIf="showConfirmPassword">lock_open</mat-icon>
                    <mat-icon *ngIf="!showConfirmPassword">lock</mat-icon>
                  </span>
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="(submitted || f.confirmPassword.dirty) && f.confirmPassword.errors"
                >
                  <div *ngIf="f.confirmPassword.errors.required">Confirme su contraseña</div>
                  <div *ngIf="f.confirmPassword.errors.minLength">Debe tener mínimo 8 caracteres</div>
                  <div *ngIf="f.confirmPassword.errors.mismatch">Las contraseñas no coinciden</div>
                </div>
              </div>
            </div>

            <mat-dialog-actions class="custom-dialog-actions">
              <button mat-button (click)="onNoClick()" class="btn btn-default">Cancelar</button>
              <button
                mat-button
                [disabled]="crearUForm.invalid"
                (click)="transformData()"
                [mat-dialog-close]="data"
                cdkFocusInitial
                class="btn btn-success"
              >
                Guardar
              </button>
            </mat-dialog-actions>
            
          </form>
        </div>
      </div>
    </div>
  </mat-dialog-content>
