<mat-dialog-content>
  <h2>{{ eventData.title }}</h2>
  <div class="event-details">
    <p>Estado: {{ eventData.extendedProps.status }}</p>
    <p>Fecha de Inicio: {{ eventData.start | date }}</p>
    <p>Fecha de Finalización: {{ eventData.end | date }}</p>
    <p>Descripción: {{ eventData.extendedProps.description }}</p>
    <p>Razón de Revisión: {{ eventData.extendedProps.reason }}</p>
  </div>
</mat-dialog-content>

<mat-dialog-actions style="justify-content: flex-end">
  <button mat-button (click)="dialogRef.close()">Close</button>
</mat-dialog-actions>
