<mat-dialog-content class="custom-dialog-content">
  <div class="container">
    <div class="row mt-3">
      <button mat-icon-button class="close-button" (click)="cerrarModal()">
        <mat-icon>close</mat-icon>
      </button>
      <div class="col">
        <form [formGroup]="editarProyectoForm" (ngSubmit)="crear()" novalidate autocomplete="">
          <h3>Edición de Proyectos</h3>

          <div class="form-row">
            <!-- Nombre -->
            <div class="form-group col-md-6">
              <label for="name" class="control-label font-weight-bold">Nombre del proyecto</label>
              <input
                type="text"
                class="form-control"
                placeholder="Nombre del Proyecto"
                formControlName="name"
                [(ngModel)]="data.name"
              />
            </div>

            <!-- Primer apellido -->
            <div class="form-group col-md-6">
              <label for="statusId" class="control-label font-weight-bold">Estado</label>
              <select
                formControlName="statusId"
                type="number"
                class="form-select"
                style="border-radius: 2px"
                [(ngModel)]="data.statusId"
              >
                <option value="1">Nuevo</option>
                <option value="2">En Progreso</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <!-- Segundo apellido -->
            <div class="form-group col-md-6">
              <label for="startDate" class="control-label font-weight-bold">Fecha de inicio</label>
              <input
                type="date"
                class="form-control"
                placeholder="Fecha de inicio"
                formControlName="startDate"
                [ngModel]="data.startDate | date: 'yyyy-MM-dd'"
                readonly
              />
              <!-- Muestra un mensaje de error si la fecha está en el pasado -->
              <div
                *ngIf="
                  editarProyectoForm.get('startDate')?.hasError('dateInPast') &&
                  editarProyectoForm.get('startDate')?.touched
                "
              >
                <small class="text-danger">La fecha no puede ser anterior a la fecha actual.</small>
              </div>
            </div>

            <!-- Cédula -->
            <div class="form-group col-md-6">
              <label for="endDate" class="control-label font-weight-bold">Fecha de Entrega</label>
              <input
                type="date"
                class="form-control"
                placeholder="Fecha de inicio"
                formControlName="endDate"
                [ngModel]="data.endDate | date: 'yyyy-MM-dd'"
                (change)="setEndDate($event)"
              />
              <!-- Muestra un mensaje de error si la fecha está en el pasado -->
              <div
                *ngIf="
                  editarProyectoForm.get('endDate')?.hasError('dateInPast') &&
                  editarProyectoForm.get('endDate')?.touched
                "
              >
                <small class="text-danger"
                  >La fecha no puede ser anterior a la fecha de inicio.</small
                >
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="lastname" class="control-label font-weight-bold">Descripción</label>
            <textarea
              matInput
              class="form-control"
              placeholder="Descripción"
              formControlName="description"
              [(ngModel)]="data.description"
            ></textarea>
          </div>

          <!-- <div class="form-group">
              <label for="clientId" class="control-label font-weight-bold">Cliente</label>
              <mat-select formControlName="clientId" >
                <mat-option *ngFor="let client of clientesList" [value]="client.clientId">
                  {{ client.name }}
                </mat-option>
              </mat-select>
            </div> -->

          <div class="form-group">
            <label for="clientId" class="control-label font-weight-bold">Cliente</label>
            <input
              type="text"
              placeholder="Buscar cliente"
              formControlName="clientId"
              [matAutocomplete]="auto"
              [(ngModel)]="data.client"
              class="form-control"
            />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                *ngFor="let user of filteredUserList$ | async"
                (click)="setUserValue(user)"
                [value]="user"
              >
                {{ user.name }}
              </mat-option>
            </mat-autocomplete>
          </div>
          <app-file-upload #FileUpload [imageSrc]="data.imageURL ?? null"></app-file-upload>

          <mat-dialog-actions class="custom-dialog-actions">
            <button mat-button (click)="onNoClick()" class="btn btn-default">Cancelar</button>
            <button
              mat-button
              [disabled]="editarProyectoForm.invalid"
              [mat-dialog-close]="data"
              cdkFocusInitial
              class="btn btn-success"
              (click)="saveImageUrl()"
            >
              Guardar
            </button>
          </mat-dialog-actions>
        </form>
      </div>
    </div>
  </div>
</mat-dialog-content>
