<mat-dialog-content class="custom-dialog-content">
  <h1 mat-dialog-title>Registrar producto</h1>

  <div class="input-container">
    <mat-form-field class="input-field">
      <input matInput placeholder="ID Producto" [(ngModel)]="data.itemId" />
    </mat-form-field>

    <mat-form-field class="input-field">
      <input matInput placeholder="Nombre" [(ngModel)]="data.name" />
    </mat-form-field>
    <mat-form-field class="input-field">
      <input matInput placeholder="Detalles" [(ngModel)]="data.details" />
    </mat-form-field>
    <mat-form-field class="input-field">
      <input matInput placeholder="Precio" [(ngModel)]="data.price" />
    </mat-form-field>
    <mat-form-field class="input-field">
      <input matInput placeholder="Proveedor" [(ngModel)]="data.providerId" />
    </mat-form-field>
    <mat-form-field class="input-field">
      <input matInput placeholder="Unidad" [(ngModel)]="data.unitId" />
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="custom-dialog-actions">
  <button mat-button (click)="onNoClick()" class="btn btn-primary">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial class="btn btn-success">
    Guardar
  </button>
</mat-dialog-actions>
