<p>proveedores works!</p>



<div class="container p-0">

	<div class="row">
		<div class="col-sm-6">
			<h2>Mantenimiento de <b>Proveedores</b></h2>
		</div>
		<div class="col-sm-6">
			<a href="#" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Agregar nuevo proveedor</span></a>
			<a href="#" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Eliminar</span></a>						
		</div>
	</div>
	<br>

	<div class="row">
		<div class="col-12 col-md-6 col-lg-3">
			<div class="card">


				<img class="card-img-top" src="../../assets/images/epaLoog.webp" alt="EPA">

				<div class="card-header px-4 pt-4">
					<div class="card-actions float-right">
						<div class="dropdown show">
							<a href="#" data-toggle="dropdown" data-display="static">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal align-middle"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
							</a>

							<div class="dropdown-menu dropdown-menu-right">
								<a class="dropdown-item" href="#">Abrir</a>
								<a class="dropdown-item" href="#">Accion 2</a>
								<a class="dropdown-item" href="#">Accion 3</a>
							</div>
						</div>
					</div>
					<h5 class="card-title mb-0">Ferretería EPA</h5>
					<div class="badge bg-success my-2">Proveedor activo</div>
				</div>
				<div class="card-body px-4 pt-2">
					<p>Expresso Desamparados</p>
					<p>
						<a href="/catalogoProveedor">Ir al catálogo de productos</a>
					</p>
				</div>
				<ul class="list-group list-group-flush">
					
				</ul>
			</div>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
			<div class="card">

				<img class="card-img-top" src="../../assets/images/ellagar.jpg" alt="El Lagar">

				<div class="card-header px-4 pt-4">
					<div class="card-actions float-right">
						<div class="dropdown show">
							<a href="#" data-toggle="dropdown" data-display="static">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal align-middle"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
							</a>

							<div class="dropdown-menu dropdown-menu-right">
								<a class="dropdown-item" href="#">Abrir</a>
								<a class="dropdown-item" href="#">Ir al catálogo</a>
							</div>
						</div>
					</div>
					<h5 class="card-title mb-0">El Lagar</h5>
					<div class="badge bg-success my-2">Proveedor activo</div>
				</div>
				<div class="card-body px-4 pt-2">
					<p>El Lagar Desamparados</p>
					<p>
						<a href="/catalogoProveedor">Ir al catálogo de productos</a>
					</p>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
			<div class="card">

				<img class="card-img-top" src="../../assets/images/gravilias.png" alt="Unsplash">

				<div class="card-header px-4 pt-4">
					<div class="card-actions float-right">
						<div class="dropdown show">
							<a href="#" data-toggle="dropdown" data-display="static">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal align-middle"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
							</a>

							<div class="dropdown-menu dropdown-menu-right">
								<a class="dropdown-item" href="#">Abrir</a>
								<a class="dropdown-item" href="#">Ir al catalogo</a>
							</div>
						</div>
					</div>
					<h5 class="card-title mb-0">Las Gravilias</h5>
					<div class="badge bg-warning my-2">Proveedor regular</div>
				</div>
				<div class="card-body px-6 pt-2">
					<p>Las Gravilias de Desamparados</p>
					<p>
						<a href="/catalogoProveedor">Ir al catálogo de productos</a>
					</p>
				</div>
			</div>
		</div>

	</div>
</div>