<breadcrumb></breadcrumb>

<div class="row">

  <!-- Statistics -->
  <div class="col-sm-6 col-md-3" *ngFor="let stat of stats">
    <mat-card [ngClass]="['text-white', stat.color]">
      <mat-card-header>
        <mat-card-subtitle class="text-white">{{stat.title}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h2 class="m-y-8">{{stat.amount}}</h2>
        <mtx-progress [value]="stat.progress.value"
                      height="2px"
                      foreground="rgba(255,255,255,1)"
                      background='rgba(0,0,0,.5)'>
        </mtx-progress>
        <small class="text-muted"></small>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Charts -->

  <!-- Others -->
  <div class="col-md-6">
    <mat-card>
      <mat-tab-group>
        <mat-tab label="Santa Ana">
          <div class="m-16">
            <img class="d-block w-full" src="assets/images/casas/santa.jpg" alt="">
            <h3>Casa Santa Ana
            </h3>
            <p>
              Construcción en Piedades de Santa Ana</p>
          </div>
        </mat-tab>
        <mat-tab label="Escazu">
          <div class="m-16">
            <img class="d-block w-full" src="assets/images/casas/santa.jpg" alt="">
            <h3>Casa Escazú</h3>
            <p>
              Construcción en Escazu
            </p>
          </div>
        </mat-tab>
        <mat-tab label="Aserri">
          <div class="m-16">
            <img class="d-block w-full" src="assets/images/casas/aserri.jpg" alt="">
            <h3>Casa Aserri</h3>
            <p>
              Construcción en Aserri</p>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Inspecciones de la semana</mat-card-title>
        <mat-card-subtitle>Imagenes</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-grid-list cols="2">
          <mat-grid-tile class="bg-red-50">
            <img src="../../../assets/images/inspecciones/inspeccion1.jpg" style="width: 150%;">
          </mat-grid-tile>
          <mat-grid-tile class="bg-purple-50">
            <img src="../../../assets/images/inspecciones/inspeccion2.jpg" style="width: 150%;">
          </mat-grid-tile>
          <mat-grid-tile class="bg-orange-50">
            <img src="../../../assets/images/inspecciones/inspeccion3.jpg" style="width: 150%;">
          </mat-grid-tile>
          <mat-grid-tile class="bg-cyan-50">
            <img src="../../../assets/images/inspecciones/inspeccion4.jpg" style="width: 150%;">
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-md-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Clientes</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let message of messages">
            <img matListItemAvatar [src]="message.img" alt="Avatar">
            <h3 matListItemTitle>{{message.subject}}</h3>
            <p matListItemLine>
              <span>{{message.content}} </span>
            </p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Compras realizadas</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table class="w-full" mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No.Factura </th>
            <td mat-cell *matCellDef="let element;"> {{element.id}} </td>
          </ng-container>
          <ng-container matColumnDef="proveedor">
            <th mat-header-cell *matHeaderCellDef> Proveedor </th>
            <td mat-cell *matCellDef="let element;"> {{element.proveedor}} </td>
          </ng-container>
          <ng-container matColumnDef="proyecto">
            <th mat-header-cell *matHeaderCellDef> Proyecto </th>
            <td mat-cell *matCellDef="let element;"> {{element.proyecto}} </td>
          </ng-container>
          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let element;"> {{element.fecha}} </td>
          </ng-container>
          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef> Total factura </th>
            <td mat-cell *matCellDef="let element;"> {{element.total}} </td>
          </ng-container>
          <ng-container matColumnDef="link">
            <th mat-header-cell *matHeaderCellDef> Link </th>
            <td mat-cell *matCellDef="let element;"> <a href="/ordenesCompra:id">Link</a> </td>
          </ng-container>
          
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-card-content>
    </mat-card>

    <!-- <mat-card>
      <mat-card-header>
        <mat-card-title>Chips & Buttons</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-chip-listbox class="m-t-16">
          <mat-chip-option selected>One fish</mat-chip-option>
          <mat-chip-option color="primary">Primary fish</mat-chip-option>
          <mat-chip-option color="accent">Accent fish</mat-chip-option>
          <mat-chip-option color="warn">Two fish</mat-chip-option>
        </mat-chip-listbox>
        <mat-chip-listbox class="m-t-8">
          <mat-chip-option class="bg-orange-300">Orange fish</mat-chip-option>
          <mat-chip-option class="bg-teal-300">Teal fish</mat-chip-option>
          <mat-chip-option class="bg-cyan-300">Cyan fish</mat-chip-option>
          <mat-chip-option class="bg-purple-300" selected>Purple fish</mat-chip-option>
          <mat-chip-option class="bg-green-300">Green fish</mat-chip-option>
        </mat-chip-listbox>

        <div class="m-t-16">
          <button mat-raised-button>Basic</button>
          <button mat-raised-button color="primary">Primary</button>
          <button mat-raised-button color="accent">Accent</button>
          <button mat-raised-button color="warn">Warn</button>
          <button mat-raised-button disabled>Disabled</button>
          <a mat-raised-button routerLink=".">Link</a>
        </div>
        <div class="m-t-8">
          <button mat-raised-button class="bg-orange-500 text-white">Orange</button>
          <button mat-raised-button class="bg-teal-500 text-white">Teal</button>
          <button mat-raised-button class="bg-cyan-500 text-white">Cyan</button>
          <button mat-raised-button class="bg-purple-500 text-white">Purple</button>
          <button mat-raised-button class="bg-green-500 text-white">Green</button>
        </div>
      </mat-card-content>
    </mat-card> -->

  </div>
</div>
