<mat-dialog-content class="custom-dialog-content">
  <button mat-icon-button class="close-button" (click)="cerrarModal()">
    <mat-icon>close</mat-icon>
  </button>
  <div class="mb-4">
    <h3 >Detalles de Contacto</h3>
    <div class="row d-flex">
      <div class="col-md-6">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title"><strong>Información de Contacto</strong></h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>Nombre:</strong> {{ data.name }} {{ data.lastname }} {{ data.secondLastname }}</li>
              <li class="list-group-item"><strong>Correo Electrónico:</strong> {{ data.email }}</li>
              <li class="list-group-item"><strong>Teléfono:</strong> {{ data.phone }}</li>
              <li class="list-group-item"><strong>Detalles:</strong> {{ data.details }}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title"><strong>Detalles del Proveedor</strong></h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>Nombre del Proveedor:</strong> {{ data.provider.name }}</li>
              <li class="list-group-item"><strong>Correo Electrónico:</strong> {{ data.provider.email }}</li>
              <li class="list-group-item"><strong>Dirección:</strong> {{ data.provider.address }}</li>
              <li class="list-group-item"><strong>Teléfono:</strong> {{ data.provider.phone }}</li>
              <li class="list-group-item"><strong>Detalles:</strong> {{ data.provider.details }}</li>
              <li class="list-group-item"><strong>Cantidad de Catálogos:</strong> {{ data.provider.catalogsCount !== undefined ? data.provider.catalogsCount : 0 }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="mt-4">
    <h3 class="h5">Catálogos del Proveedor</h3>
    <ul class="list-group">
      <li *ngFor="let catalog of data.provider.providerCatalogs" class="list-group-item">
        <strong>ID:</strong> {{ catalog.itemId }},
        <strong>Nombre:</strong> {{ catalog.name }},
        <strong>Precio:</strong> {{ catalog.price }}
      </li>
    </ul>
  </div> -->
  <mat-dialog-actions class="custom-dialog-actions mt-4">
    <button mat-button (click)="onNoClick()" class="btn btn-default">Cerrar</button>
  </mat-dialog-actions>
</mat-dialog-content>
