.custom-dialog-content {
  max-height: 93vh;
  overflow-y: auto;
}

.mat-dialog-container {
  width: auto !important;
  max-width: 80%;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.5rem;
}