<!-- image-upload-card.component.html -->
<div class="card">
  <mat-card-content class="mat-card-content" matTooltip="Click para agregar una imagen">
    <div class="upload-container">
      <div class="row mt-4">
        <input
          type="file"
          (change)="onFileSelected($event)"
          accept="image/*"
          style="display: none"
          #fileInput
        />
        <button
          mat-mini-fab
          *ngIf="!isFileSelected() && imageSrc === null"
          (click)="fileInput.click()"
          class="upload-button"
        >
          <mat-icon>add_photo_alternate</mat-icon>
        </button>
        <div (click)="fileInput.click()" *ngIf="isFileSelected() || imageSrc" class="image-preview">
          <img class="image-preview-content" [src]="imageSrc" alt="Preview" />
        </div>
      </div>
    </div>
  </mat-card-content>
</div>
