.matero-auth-container {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 100%;
  padding: 16px;
  background-color: #ccc;
  background-image: url('../../../assets/images/fondo1.jpg');
  background-size: 100%;
}
//     linear-gradient(
//       45deg,
//       rgba(255, 255, 255, .05) 25%,
//       transparent 25%,
//       transparent 75%,
//       rgba(255, 255, 255, .05) 75%,
//       rgba(255, 255, 255, .05)
//     ),
//     linear-gradient(
//       -45deg,
//       rgba(255, 255, 255, .05) 25%,
//       transparent 25%,
//       transparent 75%,
//       rgba(255, 255, 255, .05) 75%,
//       rgba(255, 255, 255, .05)
//     );
//   background-size: 60px 60px;
// }
