<mat-dialog-content class="custom-dialog-content">
  <div class="container">
    <div class="row mt-3">
      <button mat-icon-button class="close-button" (click)="cerrarModal()">
        <mat-icon>close</mat-icon>
      </button>
      <div class="col">
        <form [formGroup]="editarContacto" (ngSubmit)="onSave()" novalidate autocomplete="">
          <h3>Edición de Contacto</h3>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="name">Nombre</label>
              <input
                type="text"
                class="form-control"
                id="name"
                placeholder="Nombre"
                formControlName="name"
                [(ngModel)]="data.name"
                [ngClass]="{
                  'is-valid': (editarContacto.get('name')?.dirty || submitted) && !editarContacto.get('name')?.errors,
                  'is-invalid': (editarContacto.get('name')?.dirty || submitted) && (editarContacto.get('name')?.errors?.required || editarContacto.get('name')?.errors?.pattern)
                }"
              />
              <div class="invalid-feedback">
                <span class="text-danger" *ngIf="editarContacto.get('name')?.errors?.required">El nombre es obligatorio.</span>
                <span class="text-danger" *ngIf="editarContacto.get('name')?.errors?.pattern">El nombre no debe contener números.</span>
                <span class="text-danger" *ngIf="editarContacto.get('name')?.errors?.minlength">El nombre debe tener al menos 3 caracteres.</span>
                <span class="text-danger" *ngIf="editarContacto.get('name')?.errors?.maxlength">El nombre no debe tener más de 20 caracteres.</span>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label for="lastname">Primer Apellido</label>
              <input
                type="text"
                class="form-control"
                id="lastname"
                placeholder="Apellido"
                formControlName="lastname"
                [(ngModel)]="data.lastname"
                [ngClass]="{
                  'is-valid': (editarContacto.get('lastname')?.dirty || submitted) && !editarContacto.get('lastname')?.errors,
                  'is-invalid': (editarContacto.get('lastname')?.dirty || submitted) && (editarContacto.get('lastname')?.errors?.required || editarContacto.get('lastname')?.errors?.pattern)
                }"
              />
              <div class="invalid-feedback">
                <span class="text-danger" *ngIf="editarContacto.get('lastname')?.errors?.required">El primer apellido es obligatorio.</span>
                <span class="text-danger" *ngIf="editarContacto.get('lastname')?.errors?.pattern">El primer apellido no debe contener números.</span>
                <span class="text-danger" *ngIf="editarContacto.get('lastname')?.errors?.minlength">El primer apellido debe tener al menos 3 caracteres.</span>
                <span class="text-danger" *ngIf="editarContacto.get('lastname')?.errors?.maxlength">El primer apellido no debe tener más de 20 caracteres.</span>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="secondLastname">Segundo Apellido</label>
              <input
                type="text"
                class="form-control"
                id="secondLastname"
                placeholder="Segundo Apellido"
                formControlName="secondLastname"
                [(ngModel)]="data.secondLastname"
                [ngClass]="{
                  'is-valid': (editarContacto.get('secondLastname')?.dirty || submitted) && !editarContacto.get('lastname')?.errors,
                  'is-invalid': (editarContacto.get('secondLastname')?.dirty || submitted) && (editarContacto.get('secondLastname')?.errors?.required || editarContacto.get('secondLastname')?.errors?.pattern)
                }"
              />
              <div class="invalid-feedback">
                <span class="text-danger" *ngIf="editarContacto.get('secondLastname')?.errors?.required">El segundo apellido es obligatorio.</span>
                <span class="text-danger" *ngIf="editarContacto.get('secondLastname')?.errors?.pattern">El segundo apellido no debe contener números.</span>
                <span class="text-danger" *ngIf="editarContacto.get('secondLastname')?.errors?.minlength">El segundo apellido debe tener al menos 3 caracteres.</span>
                <span class="text-danger" *ngIf="editarContacto.get('secondLastname')?.errors?.maxlength">El segundo apellido no debe tener más de 20 caracteres.</span>
              </div>
            </div>
          

            <div class="form-group col-md-6">
              <label for="email" class="control-label font-weight-bold">Correo</label>
              <input
                type="email"
                class="form-control"
                formControlName="email"
                placeholder="correo@gmail.com"
                [(ngModel)]="data.email"
                [ngClass]="{
                  'is-valid': (f.email.dirty || submitted) && !f.email.errors,
                  'is-invalid': (f.email.dirty || submitted) && f.email.errors
                }"
                (focusout)="checkEmailExists()"
              />
              <div class="invalid-feedback">
                <span class="text-danger" *ngIf="f.email.errors?.required"
                  >Es requerido el correo electrónico</span
                >
                <span class="text-danger" *ngIf="f.email.errors?.email"
                  >Correo electrónico inválido</span
                >
                <span class="text-danger" *ngIf="f.email.errors?.emailExists"
                  >Este correo electrónico ya está registrado</span
                >
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6 col-sm-6">
              <label for="phone" class="control-label font-weight-bold">Teléfono</label>
              <input
                type="text"
                class="form-control"
                formControlName="phone"
                placeholder="12345678"
                maxlength="8"
                minlength="8"
                [(ngModel)]="data.phone"
                [ngClass]="{
                  'is-valid': (f.phone.dirty || submitted) && !f.phone.errors,
                  'is-invalid': (f.phone.dirty || submitted) && f.phone.errors
                }"
              />
        
              <!-- <div *ngIf="crearUForm.get('phone')?.hasError('invalidPhoneNumber')">
            <small class="text-danger">Ingrese un número de teléfono válido (8 dígitos).</small>
          </div> -->
              <div class="invalid-feedback">
                <span class="text-danger" *ngIf="f.phone.errors?.required"
                  >El numero de teléfono es requerido</span
                >
                <span class="text-danger" *ngIf="f.phone.errors?.pattern"
                  >El número debe tener 8 dígitos y solo contener números</span
                >
        
                <!-- Validaciones existentes -->
                <!-- <span class="text-danger" *ngIf="f.identification.errors?.maxLengthValid">Debe ser de 9 caracteres</span>
            <div [ngClass]="{ 'text-sucess': minLengthValid, 'text-danger': !minLengthValid }">
              <i [attr.class]="minLengthValid ? 'bi-check-square-fill' : 'bi-x-square'"></i>
              Debe ser mínimo de 9 caracteres
            </div> -->
              </div>
            </div>

            <div class="form-group col-md-6">
              <label for="providerId" class="control-label font-weight-bold">Proveedor</label>
              <select
                class="form-control"
                formControlName="providerId"
                [(ngModel)]="data.providerId"
              >
                <option value="" selected>Seleccionar Proveedor</option>
                <option *ngFor="let provider of proveedorList" [value]="provider.providerId">
                  {{ provider.name }}
                </option>
              </select>
              <div
                *ngIf="
                  editarContacto.get('providerId')?.hasError('required') &&
                  editarContacto.get('providerId')?.touched
                "
                class="text-danger"
              >
                Debes seleccionar un proveedor.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="details" class="control-label font-weight-bold">Detalles</label>
            <textarea
              class="form-control"
              placeholder="Detalles"
              formControlName="details"
              rows="4"
              [(ngModel)]="data.details"
            ></textarea>
            <div
              *ngIf="
                editarContacto.get('details')?.hasError('required') &&
                editarContacto.get('details')?.touched
              "
              class="text-danger"
            >
              Los detalles son obligatorios.
            </div>
            <div
              *ngIf="
                editarContacto.get('details')?.hasError('minlength') &&
                editarContacto.get('details')?.touched
              "
              class="text-danger"
            >
              Los detalles deben tener al menos 10 caracteres.
            </div>
          </div>

          <mat-dialog-actions class="custom-dialog-actions">
            <button mat-button (click)="onNoClick()" class="btn btn-default">Cancelar</button>
          <button
            mat-button
            (click)="onSave()"
            cdkFocusInitial
            class="btn btn-success"
            [disabled]="!editarContacto.valid || emailError !== '' || phoneError !== ''"
          >
            Guardar
          </button>
        </mat-dialog-actions>
        </form>
      </div>
    </div>
  </div>
</mat-dialog-content>