<mat-dialog-content class="custom-dialog-content">
  <div class="container">
    <div class="row mt-3">
      <div class="col">
        <form [formGroup]="contactoForm" (ngSubmit)="onSave()" novalidate autocomplete="">
          <h3>Creación de Contacto</h3>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="name" class="control-label font-weight-bold">Nombre</label>
              <input
                type="text"
                class="form-control"
                placeholder="Nombre"
                formControlName="name"
                [(ngModel)]="data.name"
              />
              <div
                *ngIf="
                  contactoForm.get('name')?.hasError('required') &&
                  contactoForm.get('name')?.touched
                "
                class="text-danger"
              >
                El nombre es obligatorio.
              </div>
              <div
                *ngIf="
                  contactoForm.get('name')?.hasError('minlength') &&
                  contactoForm.get('name')?.touched
                "
                class="text-danger"
              >
                El nombre debe tener al menos 3 caracteres.
              </div>
              <div
                *ngIf="
                  contactoForm.get('name')?.hasError('maxlength') &&
                  contactoForm.get('name')?.touched
                "
                class="text-danger"
              >
                El nombre no debe tener más de 20 caracteres.
              </div>
            </div>

            <div class="form-group col-md-6">
              <label for="lastname" class="control-label font-weight-bold">Primer Apellido</label>
              <input
                type="text"
                class="form-control"
                placeholder="Apellido"
                formControlName="lastname"
                [(ngModel)]="data.lastname"
              />
              <div
                *ngIf="
                  contactoForm.get('lastname')?.hasError('required') &&
                  contactoForm.get('lastname')?.touched
                "
                class="text-danger"
              >
                El apellido es obligatorio.
              </div>
              <div
                *ngIf="
                  contactoForm.get('lastname')?.hasError('minlength') &&
                  contactoForm.get('lastname')?.touched
                "
                class="text-danger"
              >
                El apellido debe tener al menos 3 caracteres.
              </div>
              <div
                *ngIf="
                  contactoForm.get('lastname')?.hasError('maxlength') &&
                  contactoForm.get('lastname')?.touched
                "
                class="text-danger"
              >
                El apellido no debe tener más de 20 caracteres.
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="secondLastname" class="control-label font-weight-bold"
                >Segundo Apellido</label
              >
              <input
                type="text"
                class="form-control"
                placeholder="Segundo Apellido"
                formControlName="secondLastname"
                [(ngModel)]="data.secondLastname"
              />
              <div
                *ngIf="
                  contactoForm.get('secondLastname')?.hasError('required') &&
                  contactoForm.get('secondLastname')?.touched
                "
                class="text-danger"
              >
                El apellido es obligatorio.
              </div>
              <div
                *ngIf="
                  contactoForm.get('secondLastname')?.hasError('minlength') &&
                  contactoForm.get('secondLastname')?.touched
                "
                class="text-danger"
              >
                El apellido debe tener al menos 3 caracteres.
              </div>
              <div
                *ngIf="
                  contactoForm.get('secondLastname')?.hasError('maxlength') &&
                  contactoForm.get('secondLastname')?.touched
                "
                class="text-danger"
              >
                El apellido no debe tener más de 20 caracteres.
              </div>
            </div>

            <div class="form-group col-md-6">
              <label for="email" class="control-label font-weight-bold">Correo Electrónico</label>
              <input
                type="text"
                class="form-control"
                placeholder="Correo Electrónico"
                formControlName="email"
                [(ngModel)]="data.email"
              />
              <div
                *ngIf="
                  contactoForm.get('email')?.hasError('required') &&
                  contactoForm.get('email')?.touched
                "
                class="text-danger"
              >
                El Correo Electrónico es obligatorio.
              </div>
              <div *ngIf="emailError" class="text-danger">
                {{ emailError }}
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="phone" class="control-label font-weight-bold">Teléfono</label>
              <input
                type="text"
                class="form-control"
                placeholder="Teléfono"
                formControlName="phone"
                [(ngModel)]="data.phone"
              />
              <div
                *ngIf="
                  contactoForm.get('phone')?.hasError('required') &&
                  contactoForm.get('phone')?.touched
                "
                class="text-danger"
              >
                El Teléfono es obligatorio.
              </div>
              <div *ngIf="phoneError" class="text-danger">
                {{ phoneError }}
              </div>
            </div>

            <div class="form-group col-md-6">
              <label for="providerId" class="control-label font-weight-bold">Proveedor</label>
              <select
                class="form-control"
                formControlName="providerId"
                [(ngModel)]="data.providerId"
              >
                <option value="" selected>Seleccionar Proveedor</option>
                <option *ngFor="let provider of proveedorList" [value]="provider.providerId">
                  {{ provider.name }}
                </option>
              </select>
              <div
                *ngIf="
                  contactoForm.get('providerId')?.hasError('required') &&
                  contactoForm.get('providerId')?.touched
                "
                class="text-danger"
              >
                Debes seleccionar un proveedor.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="details" class="control-label font-weight-bold">Detalles</label>
            <textarea
              class="form-control"
              placeholder="Detalles"
              formControlName="details"
              rows="4"
              [(ngModel)]="data.details"
            ></textarea>
            <div
              *ngIf="
                contactoForm.get('details')?.hasError('required') &&
                contactoForm.get('details')?.touched
              "
              class="text-danger"
            >
              Los detalles son obligatorios.
            </div>
            <div
              *ngIf="
                contactoForm.get('details')?.hasError('minlength') &&
                contactoForm.get('details')?.touched
              "
              class="text-danger"
            >
              Los detalles deben tener al menos 10 caracteres.
            </div>
          </div>

          <mat-dialog-actions class="custom-dialog-actions">
            <button mat-button (click)="onNoClick()" class="btn btn-secondary">Cancelar</button>
            <button
              mat-button
              [disabled]="!contactoForm.valid || emailError !== '' || phoneError !== ''"
              [mat-dialog-close]="data"
              cdkFocusInitial
              class="btn btn-success"
            >
              Guardar
            </button>
          </mat-dialog-actions>
        </form>
      </div>
    </div>
  </div>
</mat-dialog-content>
