<mat-dialog-content class="custom-dialog-content">
    <h1 mat-dialog-title>Creación Proveedor</h1>
  
    <div class="input-container">
      <mat-form-field class="input-field">
        <input matInput placeholder="Nombre" [(ngModel)]="data.Name">
      </mat-form-field>
      
      <mat-form-field class="input-field">
        <input matInput placeholder="Primer Apellido" [(ngModel)]="data.Email">
      </mat-form-field>
      <mat-form-field class="input-field">
        <input matInput placeholder="Segundo Apellido" [(ngModel)]="data.Address">
      </mat-form-field>
      <mat-form-field class="input-field">
        <input matInput placeholder="Identificación" [(ngModel)]="data.Identifier">
      </mat-form-field>
      <mat-form-field class="input-field">
        <mat-select placeholder="Tipo Identificación" [(ngModel)]="data.IdentifierID">
          <mat-option value="1">Cedula</mat-option>
          <mat-option value="2">Pasaporte</mat-option>
          <mat-option value="2">Cedula Juridica</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="input-field">
        <input matInput placeholder="Teléfono" [(ngModel)]="data.Phone">
      </mat-form-field>
      <mat-form-field class="input-field">
        <input matInput placeholder="Detalles" [(ngModel)]="data.Details">
      </mat-form-field>
    </div>
  </mat-dialog-content>
  
  <mat-dialog-actions class="custom-dialog-actions">
    
    <button mat-button (click)="onNoClick()" class="btn btn-primary">Cancelar</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial class="btn btn-success">Guardar</button>
  </mat-dialog-actions>
  