<footer>
  <div class="container small border-top">
    <div class="row py-5 d-flex justify-content-between">
      <div class="col-12 col-lg-6 col-xl-3 border-end p-5">
        <img src="assets/img/isotipo.png" width="80px" />
        <address class="text-secondary mt-3">
          <strong>Constructora Muñoz Bonilla</strong><br />
          San Jose, Costa Rica<br />
          Calle Fallas, Desamparados<br />
        </address>
      </div>
      <div class="col-12 col-lg-6 col-xl-3 border-end p-5">
        <h3 class="h6 mb-3">Empresa</h3>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link link-secondary ps-0" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-secondary ps-0" href="#">Nosotros</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-lg-6 col-xl-3 border-end p-5">
        <h3 class="h6 mb-3">Proyectos</h3>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link link-secondary ps-0" aria-current="page" href="#">Proyecto 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-secondary ps-0" href="#">Proyecto 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-secondary ps-0" href="#">Proyecto 3</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-lg-6 col-xl-3 p-5">
        <h3 class="h6 mb-3">Encuentranos</h3>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link link-secondary ps-0" aria-current="page" href="404.html">Facebook</a>
            <a class="nav-link link-secondary ps-0" aria-current="page" href="register.html"
              >Register System Page</a
            >
            <a class="nav-link link-secondary ps-0" aria-current="page" href="content.html"
              >Simple Text Content Page</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
