<body>
	<br><br>
	<div class="container-fluid">
		<div class="container">
		  <div class="row">
			<div class="col-sm-6">
			  <h2>Mantenimiento de <b>Tareas</b></h2>
			</div>
			<div class="col-sm-6">
            <mat-form-field appearance="fill">
            <mat-label>Buscar tareas</mat-label>
            <mat-icon matPrefix>search</mat-icon>
              <input
                matInput
                type="text"
                id="searchInput"
                [(ngModel)]="searchTerm"
                (ngModelChange)="applyFilter()"
              />
            </mat-form-field>

          	</div>
		  </div>
			<div class="table-responsive">
				<mat-table #TareasTable  [dataSource]="filteredTasks" matSort >  <!---->

					<ng-container *ngFor="let column of ['name']" matColumnDef="name">
						<mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
						<mat-cell *matCellDef="let task">{{ task.name }}</mat-cell>
					</ng-container>

					<ng-container *ngFor="let column of ['description'] " matColumnDef="description">
						<mat-header-cell *matHeaderCellDef>Descripción</mat-header-cell>
						<mat-cell *matCellDef="let task">{{ task.description }}</mat-cell>
					</ng-container>

					<ng-container *ngFor="let column of ['dateDue']" matColumnDef="dateDue">
						<mat-header-cell *matHeaderCellDef>Fecha Limite</mat-header-cell>
						<mat-cell *matCellDef="let task">{{ task.dateDue | date:'yyyy-MM-dd'  }}</mat-cell>
					</ng-container>

					<ng-container *ngFor="let column of ['statusId'] " matColumnDef="statusId">
						<mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
						<mat-cell *matCellDef="let task">{{ task.status }}</mat-cell>
					</ng-container>

					<ng-container *ngFor="let column of ['priorityId']" matColumnDef="priorityId">
						<mat-header-cell *matHeaderCellDef>Prioridad</mat-header-cell>
						<mat-cell *matCellDef="let task">{{ task.priorityId }}</mat-cell>
					</ng-container>

					<ng-container *ngFor="let column of ['projectId']" matColumnDef="projectId">
						<mat-header-cell *matHeaderCellDef>Proyecto</mat-header-cell>
						<mat-cell *matCellDef="let task">{{ task.projectId }}</mat-cell>
					</ng-container>

					<ng-container *ngFor="let column of ['userId']" matColumnDef="userId">
						<mat-header-cell *matHeaderCellDef>Asignado</mat-header-cell>
						<mat-cell *matCellDef="let task">{{ task.userId }}</mat-cell>
					</ng-container>

        <ng-container *ngFor="let column of ['actions']" matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
          <mat-cell *matCellDef="let task">
              <ng-container *ngIf="task.statusId === 3">
                  <mat-icon style="color: green;">check</mat-icon>
              </ng-container>
              <ng-container *ngIf="task.statusId !== 3">
                <button mat-icon-button (click)="completarTarea(task)" matTooltip="Completar tarea">
                  <mat-icon>check</mat-icon>
              </button>
              </ng-container>
          </mat-cell>
      </ng-container>

					<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

				</mat-table>
				<mat-paginator
        [length]="tareasList.length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="onPageChange($event)"
      ></mat-paginator>
			</div>
		</div>
	</div>
</body>
